.social-feed-wrapper {
    position: relative
}

.profile-back-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    /* Setting a negative z-index to move it behind the content */
}