.currentUserMsg {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    margin-bottom: 5px;
    margin-left: 10px;
}

.currentUserMsg p {
    background-color: rgba(143, 235, 224, 0.299);
    border-radius: 4px;
    padding: 5px 10px;
}

.othersMsg {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 10px;
}

.othersMsg p {
    background-color: rgba(45, 92, 109, 0.349);
    border-radius: 4px;
    padding: 5px 10px;
}