@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section .row {
    position: relative;
    top: -100%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    transform: rotate(-30deg);
}

.logos {
    font-size: 64px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    transition: 1s;
    cursor: pointer;
}

.logos:hover {
    color: turquoise;
    filter: drop-shadow(0 0 60px, rgb(134, 215, 207));
    transition: 0s;
}

section .row .div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row .div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) .div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) .div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}