* {
    background-color: transparent;

    /* cursor: url(), auto; */

}
body {
    background-color: whitesmoke;
} 

.profilBg {
    background: rgb(45, 92, 109);
    background: linear-gradient(90deg, rgba(45, 92, 109, 1) 0%, rgba(143, 235, 224, 1) 50%, rgba(255, 255, 255, 1) 100%)
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: '📷';
    color: black;
    display: inline-block;
    padding-left: 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 20pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
