* {
    background-color: transparent;
}

/* body {
    background-color: whitesmoke;
} */

.profilBg {
    background: rgb(45,92,109);
    background: linear-gradient(90deg, rgba(45,92,109,1) 0%, rgba(143,235,224,1) 50%, rgba(255,255,255,1) 100%)
}

